body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    color: #88FF3F;
}
.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background: #121212;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1, h2 {
    color: #88FF3F;
}
.section {
    margin-bottom: 30px;
}
.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tech-box {
    background: #121212;
    color: #88FF3F;
    border: #88FF3F 1px solid;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}